.card {
  width: 12rem;
  padding: 0.6rem 0.3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--primary-color);
}

.card:hover {
  background-color: #c6c8ff;
}

.card.selected {
  background-color: #c6c8ff;
}

.card-img {
  width: 90%;
  border-radius: 1rem;
}

.cat-name {
  color: var(--highlight-color);
  text-align: center;
  margin-top: 0.5rem;
}

.cat-personality {
  color: var(--secondary-color);
  text-align: center;
  margin-top: 0.1rem;
}
