.welcome-contaiter {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

.logo {
  width: 10rem;
  object-fit: cover;
  margin-top: 5rem;
}

.welcome-text-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
}

.slogan {
  color: var(--highlight-color);
  border-radius: 1rem;
  text-decoration: underline;
}

.app-brief-text {
  margin-top: 2rem;
}

.get-started-btn {
  margin-top: 2rem;
  font-size: 1.5rem;
}
